.cart-container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;

    max-width: 1000px;
    margin: 0 auto;
    padding: 0 2em;
}

.cart-total-price {
    align-self: flex-end;
    padding: 1em;

    font-weight: 500;
    font-size: 1.25em;
}

.cart-product-image {
    max-width: 35%;
    padding: 2em;
}

.cart-product-image img {
    max-width:100%;
    max-height:100%;
}

.cart-product {
    display: flex;

    cursor: pointer;
}

.cart-product-title {
    font-size: 1.5rem;
    font-weight: 500;
    padding-top: calc(2em / 1.5);
}

.cart-product-price {
    font-size: 1.25em;
    text-align: right;
    margin-left: auto;

    padding: 2em;
}

.cart-product-size {
    font-weight: 400;
}

a.single-product-button {
    text-decoration: none;
    color: white;
}

.single-product-button {
    display: inline-block;
    background: #E83E8C;
    color: white;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    transition: background 0.5s;
}

.single-product-button:hover {
    background: #5D1938;
}

.cart-clear-button a {
    text-decoration: none;
    color: #E83E8C;
}

.cart-clear-button {
    padding-bottom: 0.25em;
}