:root {
    --color-caption: #999;
    --color-price: #121212;
}

.page-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.title{
    font-size: xxx-large;
    width: 100%;
    text-align: center;

    margin-bottom: 0.25em;
}

.product-grid-container{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    flex-wrap: wrap;

    margin-bottom: 3em;
}

.product-grid-container > * {
    text-decoration: none;
}

.product-container{
    margin: 1em 2em;
}

.product-image-wrapper{
    width: 100%;
    overflow: hidden;
}

.product-image{
    object-fit: contain;
    height: 20em;
    width: 20em;
    transition: 0.5s;
}

.product-image:hover{
    opacity: 0.6;
    transform: scale(1.1);

}

.product-info-container{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    margin-top: 1em;
}
.product-seller{
    text-transform: uppercase;
    font-size: small;
    color: var(--color-caption);
}

.product-title{
    font-size: larger;
    margin: 0.25em 0;
    font-weight: 500;
}

.product-price{
    color: var(--color-price);
}