/* ------------------------------------------------------------------ */
/* Debug */
/*http://yysource.com/2011/03/debugging-with-css-outline-all-elements/*/
/** { outline: 2px dotted red }*/
/** * { outline: 2px dotted green }*/
/** * * { outline: 2px dotted orange }*/
/** * * * { outline: 2px dotted blue }*/
/** * * * * { outline: 1px solid red }*/
/** * * * * * { outline: 1px solid green }*/
/** * * * * * * { outline: 1px solid orange }*/
/** * * * * * * * { outline: 1px solid blue }*/

/* ------------------------------------------------------------------ */
/* General */
*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    /*https://systemfontstack.com/*/
    font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial, sans-serif;
}

:root {
    --color-primary: #E83E8C;
    --color-light: white;
}

::selection {
    color: var(--color-light);
    background: var(--color-primary);
}

/* ------------------------------------------------------------------ */
/* Header */
@media screen and (min-width: 701px) {


    header {
        min-height: 3em;

        background-color: var(--color-primary);

        display: flex;
        justify-content: space-between;
        align-items: center;

        margin-bottom: 1.75em;
    }
}
header * {
    color: var(--color-light);
    text-decoration: none; /* Links won't be highlighted */
}
@media screen and (min-width: 701px) {

    header #cart {
        display: flex;
        flex-direction: row;
        align-items: center;

        padding: 0.65em 1em;
    }
}
header #logo {
    display: flex;
    flex-direction: row;
    align-items: center;

    padding: 0.65em 1em;
}

header #logo img {
    min-height: 3em;
    max-height: 4em;

    margin-right: 0.5em;
}

header #cart img {
    max-height: 2.8em;

    margin-right: 0.5em;
}

header #logo__title {
    font-size: x-large;
    font-weight: bold;
}

header #nav {
    display: inline-flex;
    gap: 1em;
}

header #nav, #cart__title {
    font-size: larger;
}


header #nav a:not(:last-of-type):after {
    content: "|";
    position: relative;
    left: 0.5em;
    opacity: 0.5;
}

@media screen and (max-width: 700px) {
    header {
        min-height: 3em;

        background-color: var(--color-primary);

        margin-bottom: 1.75em;
    }
    header #cart, header #nav a{
        float: none;
        display: block;
        text-align: left;
    }
    header #cart {
        margin-left: 1em;
        margin-top: 1em;
        padding-bottom: 1em;
    }

    header #nav {
        margin-left: 1em;
        margin-top: 0.5em;
    }
    .header-right {
        float: none;
    }
    header #cart img{
        display: none;
    }

}

/* ------------------------------------------------------------------ */
/* Footer */
.footer{
    background:#E83E8C;
    padding:2em ;
}

.footer .row{
    width:100%;
    color:white;
    text-align: center;
}

.footer .row a{
    text-decoration:none;
    color:white;
    transition:0.5s;
}

.footer .row a:hover{
    color:black;
}

.footer .row ul{
    width:100%;
}

.footer .row ul li{
    display:inline-block;
    margin:0 30px;
}

.footer .row a i{
    font-size:2em;
    margin:0 1%;
}

@media (max-width:720px) {

}

.footer .row ul li {
    display:block;
    margin:10px 0;
    text-align:left;
}
.footer .row a i {
    margin:0 3%;
}